<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cloud Emoticon Store</title>
  </head>
  <body>
    <div class="container">
      <% repos.forEach(function(repo) { %>
        <div class="card mt-2" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title"><%= repo.name %></h5>
            <% if (repo.creatorurl) {%>
              <a href="<%= repo.creatorurl %>" target="_blank" class="card-subtitle mb-2 text-muted"><%= repo.creator %></a>
            <% } else { %>
              <h6 class="card-subtitle mb-2 text-muted"><%= repo.creator %></h6>
            <% } %>
            <p class="card-text"><%= repo.introduction %></p>
            <a href="<%= repo.appurl %>" class="card-link">Add to iOS app</a>
            <a href="<%= repo.codeurl %>" target="_blank" class="card-link">Open source url</a>
          </div>
        </div>
      <% }); %>
    </div>
  </body>
</html>